<div class="banner">
  <div class="banner-content">
    <h1>GoodGym Mailer</h1>
    <h3>Send bulk emails to your GoodGym Runners!</h3>
    <div class="btn btn-success btn-large">Send Emails
    </div>
  </div>
</div>
